<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cats</title>
<!--    <script src="http://localhost:35729/livereload.js"></script>-->
</head>
<body>
<div>
    <a href="http://localhost:8080/web/cats?lang=en">English</a>
    <a href="http://localhost:8080/web/cats?lang=sv">Svenska</a>
    <a th:href="@{${httpServletRequest.requestURI} + '?lang=de'}">Deutsch</a>
</div>
<h1 th:text="#{cats}"></h1>
<p th:each="cat : ${catNames}" th:text="${cat}">NoName</p>
<div th:if="${catNames.isEmpty()}">
    <p>We have no cats</p>
</div>
<a href="/web/create" th:text="#{morecats}"></a>
</body>
</html>
